@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1zzr7f');
  src:  url('fonts/icomoon.eot?1zzr7f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1zzr7f') format('truetype'),
    url('fonts/icomoon.woff?1zzr7f') format('woff'),
    url('fonts/icomoon.svg?1zzr7f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\f015";
}
.icon-list:before {
  content: "\f03a";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-tiktok:before {
  content: "\e900";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-youtube:before {
  content: "\ea9d";
}
