body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    width: 100vw;
    font-family: "Cairo", sans-serif;
    height: auto;
    background-image: url("https://img.freepik.com/premium-vector/digital-communication-engineering-concept-technology_208588-972.jpg?w=740");
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

.top-bar a {
    text-decoration: none;
    color: #6b2121;
}
@media(max-width:767px) {
    .top-bar a {
        font-size: 10px;
    }
}
/**top bar */
.top-bar {
    background-image: linear-gradient(#e2e2e2, #e2e2e2);
}

/**end top bar */

#hero-s {
    width: 100%;
    height: 100vh;
    background: #fff;
    border-bottom: 2px solid white;
}

#hero-s .container {
    padding-top: 20px;
    position: relative;
}

.plat {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.plat2 {
    margin-right: 50px;
}

#hero-s h1 {
    top: 0;
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #5c5f60;

}



.btn-get-started {
    border-radius: 10px;
    background-color: #c83d3d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    bottom: 0;
    display: flex;
    text-decoration: none;
}

.btn-get-started span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-get-started span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-get-started:hover span {
    padding-right: 25px;
}

.btn-get-started:hover span:after {
    opacity: 1;
    right: 0;
}

@media (min-width: 1024px) {
    #hero-s {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero-s .platimg {
        text-align: center;
    }

    #hero-s .plat img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero-s h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero-s h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero-s .plat {
        width: 70%;
    }

    .plat {
        margin-right: 0px;
        width: 300px;
        height: 300px;
    }

    .plat2 {
        margin-right: 70px;

    }
}

@media (max-width: 575px) {
    #hero-s {
        text-align: center;
    }

    #hero-s ul {
        text-align: left;
        font-size: 14px;
    }

    #hero-s .plat {
        width: 80%;
    }


    #hero-s .btn-get-started,
    #hero-s .btn-get-quote {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 14px;
    }
}